<div class="onboarding-slide <%= index === 0 ? 'active' : '' %>" >
  <div class="slide-image-wrapper <%= index === 2 ? 'image3' : '' %>">
    <img class="slide-image" src="<%= slideImage %>" alt="Slide Image" />
  </div>

  <div class="slide-text">
    <h2><%= title %></h2>
    <h3><%= subtitle %></h3>
    <p><%= description %></p>
  </div>

  
</div>
