<% layout('layout') %>


<div class="profile-header">
  <div class="profile-background">
    <img src="https://picsum.photos/600/200" alt="profile-background">
  </div>

  <div class="profile-info">
    <div class="profile-img">
      <img src="<%= user.profilePic ? user.profilePic : 'https://picsum.photos/300/300' %>" alt="profile-img">

      <div class="rating">
        <span class="star">★</span>
        <span class="score">5.0</span>
        <span class="count">(10)</span>
      </div>

    </div>


    <div class="user-details">
      <h3><%= user.name %></h3>
      <p>Joined in <%= joinedYear %></p>
      <p>Vancouver, BC</p>

      <div class="user-stats">

        <div>
          <p><%= myListing.length %></p>
          <p>Listings</p>
        </div>

        <div>
          <p>40</p>
          <p>Followers</p>
        </div>

        <div>
          <p>40</p>
          <p>Following</p>
        </div>
      </div>
    </div>

  </div>


  <div class="profile-btns" id="profile-btns">
    <button class="edit" data-route="/editProfile"><i class="fas fa-pen"></i> Edit Profile</button>
    <button class="insight" data-route="/insight"><i class="fas fa-chart-line"></i> Insights</button>
    <button class="contract" data-route="/contract"><i class="fas fa-file-contract"></i> Contracts</button>
  </div>

</div>

<%- include('listingspp', { items, listing, myListing }) %>



<div class="profile-settings-card">
  <a href="#" class="profile-setting-link">
    <span>Orders</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
  <a href="#" class="profile-setting-link">
    <span>Bookmark</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
  <a href="/settings" class="profile-setting-link">
    <span>Settings</span>
    <i class="fa-solid fa-chevron-right"></i>
  </a>
</div>

<div class="logout-section">
  <form action="/auth/logout" method="POST">
    <button type="submit" class="logout-btn">Log out</button>
  </form>
</div>